@import "tailwindcss";

/* Ein kleiner Reset, damit alles sauber aussieht */
:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Verhindert doppeltes Scrollen neben der Sidebar */
}